@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #033b3d;
  --secon-bg-color: #045457;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shadow: 0 0.5rem #ffffff;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3);
}

/* ScrollLateral */

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0%;
  z-index: 1000;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}

header {
  background: var(--bg-color);
  border-bottom: 1px solid var(--secon-bg-color);
  padding: 12px 10%;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  color: var(--hover-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
}

.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background-color: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}

section {
  padding: 100px 10%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4em;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: var(--big-font);
  font-weight: 700;
}

.mudar-texto {
  font-size: 1.5rem;
  font-weight: 600;
}

.mudar-texto h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.mudar-texto h3 .mundo {
  position: absolute;
  display: flex;
}

.home-content p {
  color: #bdbdbd;
  line-height: 1.6;
}

.info-cx {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 1rem 0 2rem;
}

.info-cx h5 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1rem;
}

.info-cx span {
  font-size: 0.73rem;
  color: #bdbdbd;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 40px;
}

.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--hover-color);
  color: var(--bg-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  box-shadow: 0 0 0.3rem #12f7ff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--hover-color);
}

.btn:hover {
  color: var(--hover-color);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}

.btn:hover::before {
  width: 100%;
}

.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.social-icon {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 40px;
}

.social-icon a {
  display: inline-flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.6s;
  box-shadow: 0 0 0.3rem #12f7ff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social-icon a i {
  font-size: 1.5rem;
}

.social-icon a:hover {
  color: var(--bg-color);
}

.social-icon a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--hover-color);
  transition: 0.6s;
  z-index: -1;
}

.social-icon a:hover::before {
  width: 100%;
}

.home-image {
  position: relative;
}
.img-box {
  text-align: center;
}
.img-box img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

/* sobremim section css--------------------------------------------------------------- */

.sobremim {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2em;
  background: var(--secon-bg-color);
}
.sobremim-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sobremim-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.sobremim-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.sobremim-content p {
  color: #fdfdfd;
  font-weight: 300;
}

/* conhecimento section css----------------------------------------------------------- */

.conhecimento {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2em;
  background: var(--bg-color);
}
.conhecimento-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.conhecimento-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}
.conhecimento-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.conhecimento-content p {
  color: #fdfdfd;
  font-weight: 300;
}

/* habilidades section------------------------------------------ */

.habilidades {
  background: var(--secon-bg-color);
}

.main-habilidades {
  width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.habilidades-bar {
  margin-bottom: 2.3rem;
}

.main-habilidades h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}

.habilidades .habilidades-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.habilidades .habilidades-bar .bar {
  width: 100%;
  height: 10px;
  background: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.habilidades-bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: 0 0 0.3rem white;
}

.habilidades-bar .bar .html {
  width: 80%;
  animation: html 2s;
}

.habilidades-bar .bar .css {
  width: 70%;
  animation: css 3s;
}

.habilidades-bar .bar .javascript {
  width: 70%;
  animation: javascript 4s;
}

/* keyframes----------------------------------------------------------------------*/

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* main texto css------------------------------------------------------------------------ */

.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}

.main-text h2 {
  font-weight: 700;
  font-size: var(--normal-font);
}

.main-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* contato section css------------------------------------------------------------- */

.contato {
  background: var(--bg-color);
  width: 100%;
}

.contato form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.contato form input,
.contato form textarea {
  width: 100%;
  color: var(--text-color);
  background: var(--secon-bg-color);
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}

.contato form textarea {
  resize: none;
}

.formBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formBtn .btn {
  cursor: pointer;
  font-size: 1rem;
}

/* footer section css------------------------------------------------------------------------ */

footer {
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #bdbdbd;
}

footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  background: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}

footer a i {
  font-size: 1rem;
  color: var(--secon-bg-color);
}

/* .scroll--------------------------------------------------------------------------- */

.scroll-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}

.scroll-bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: 3s;
}

.show-items {
  opacity: 1;
  transform: translateX(0);
}

/* responsividade----------------------------------------------- */

@media (max-width: 991) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  footer {
    padding: 15px 5%;
  }
  section {
    padding: 50px 5%;
  }
  navlist .a {
    padding: 8px 15px;
  }
  root {
    --big-font: 2.2rem;
    --normal-font: 1.8rem;
    --neon-box-shadow: 0 0 0.8rem #dddddd;
    --h2-font: 3rem;
  }
  .home-content {
    margin-top: 5rem;
  }
  .social-icon {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }

  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }

  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .navlist.open {
    top: 100%;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .home-image {
    margin-bottom: 5rem;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 80%;
  }
  footer {
    font-size: 0.6rem;
  }
}
